@import "~rfs/scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/text-emphasis";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/mixins/forms";
@import "~bootstrap/scss/mixins/table-row";
@import "~bootstrap/scss/mixins/text-truncate";
@import "~bootstrap/scss/mixins/text-hide";
@import "~bootstrap/scss/mixins/pagination";
@import "~bootstrap/scss/mixins/list-group";
@import "~bootstrap/scss/mixins/lists";

@import "~bootstrap/scss/mixins/grid";
//
// Base styles
//
@import "~bootstrap/scss/mixins/transition";
@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/box-shadow";
@import "~bootstrap/scss/mixins/gradients";
@import "~bootstrap/scss/mixins/buttons";

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty
    padding-right: ($gutter / 2);
    padding-left: ($gutter / 2);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .tdfm-col#{$infix}-#{$i} {
        @extend %grid-column;
      }
    }
    .tdfm-col#{$infix},
    .tdfm-col#{$infix}-auto {
      @extend %grid-column;
    }

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.tdfm-col-{bp}` classes for equal-width flexbox columns
      .tdfm-col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .tdfm-col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none; // Reset earlier grid tiers
      }

      @for $i from 1 through $columns {
        .tdfm-col#{$infix}-#{$i} {
          @include make-col($i, $columns);
        }
      }

      .tdfm-order#{$infix}-first {
        order: -1;
      }

      .tdfm-order#{$infix}-last {
        order: $columns + 1;
      }

      @for $i from 0 through $columns {
        .tdfm-order#{$infix}-#{$i} {
          order: $i;
        }
      }

      // `$columns - 1` because offsetting by the width of an entire row isn't possible
      @for $i from 0 through ($columns - 1) {
        @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
          .offset#{$infix}-#{$i} {
            @include make-col-offset($i, $columns);
          }
        }
      }
    }
  }
}

@if $enable-grid-classes {
  .tdfm-row {
    @include make-row();
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .tdfm-colcol,
    > [class*="tdfm-col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .tdfm-flex#{$infix}-row {
      flex-direction: row !important;
    }
    .tdfm-flex#{$infix}-column {
      flex-direction: column !important;
    }
    .tdfm-flex#{$infix}-row-reverse {
      flex-direction: row-reverse !important;
    }
    .tdfm-flex#{$infix}-column-reverse {
      flex-direction: column-reverse !important;
    }

    .tdfm-flex#{$infix}-wrap {
      flex-wrap: wrap !important;
    }
    .tdfm-flex#{$infix}-nowrap {
      flex-wrap: nowrap !important;
    }
    .tdfm-flex#{$infix}-wrap-reverse {
      flex-wrap: wrap-reverse !important;
    }
    .tdfm-flex#{$infix}-fill {
      flex: 1 1 auto !important;
    }
    .tdfm-flex#{$infix}-grow-0 {
      flex-grow: 0 !important;
    }
    .tdfm-flex#{$infix}-grow-1 {
      flex-grow: 1 !important;
    }
    .tdfm-flex#{$infix}-shrink-0 {
      flex-shrink: 0 !important;
    }
    .tdfm-flex#{$infix}-shrink-1 {
      flex-shrink: 1 !important;
    }

    .tdfm-justify-content#{$infix}-start {
      justify-content: flex-start !important;
    }
    .tdfm-justify-content#{$infix}-end {
      justify-content: flex-end !important;
    }
    .tdfm-justify-content#{$infix}-center {
      justify-content: center !important;
    }
    .tdfm-justify-content#{$infix}-between {
      justify-content: space-between !important;
    }
    .tdfm-justify-content#{$infix}-around {
      justify-content: space-around !important;
    }

    .tdfm-align-items#{$infix}-start {
      align-items: flex-start !important;
    }
    .tdfm-align-items#{$infix}-end {
      align-items: flex-end !important;
    }
    .tdfm-align-items#{$infix}-center {
      align-items: center !important;
    }
    .tdfm-align-items#{$infix}-baseline {
      align-items: baseline !important;
    }
    .tdfm-align-items#{$infix}-stretch {
      align-items: stretch !important;
    }

    .tdfm-align-content#{$infix}-start {
      align-content: flex-start !important;
    }
    .tdfm-align-content#{$infix}-end {
      align-content: flex-end !important;
    }
    .tdfm-align-content#{$infix}-center {
      align-content: center !important;
    }
    .tdfm-align-content#{$infix}-between {
      align-content: space-between !important;
    }
    .tdfm-align-content#{$infix}-around {
      align-content: space-around !important;
    }
    .tdfm-align-content#{$infix}-stretch {
      align-content: stretch !important;
    }

    .tdfm-align-self#{$infix}-auto {
      align-self: auto !important;
    }
    .tdfm-align-self#{$infix}-start {
      align-self: flex-start !important;
    }
    .tdfm-align-self#{$infix}-end {
      align-self: flex-end !important;
    }
    .tdfm-align-self#{$infix}-center {
      align-self: center !important;
    }
    .tdfm-align-self#{$infix}-baseline {
      align-self: baseline !important;
    }
    .tdfm-align-self#{$infix}-stretch {
      align-self: stretch !important;
    }
  }
}


// stylelint-disable selector-no-qualifying-type

.tdfm-btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none !important;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    //@include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .tdfm-btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    //@include box-shadow($btn-active-box-shadow);

    &:focus {
      //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.tdfm-btn.disabled,
fieldset:disabled a.tdfm-btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .tdfm-btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .tdfm-btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.tdfm-btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.tdfm-btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.tdfm-btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.tdfm-btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .tdfm-btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.tdfm-btn-block {
    width: 100%;
  }
}

.tdfm-img-fluid {
  display: block;
  height: auto;
  width: 100%;
}

//@each $color, $value in $theme-colors {
//  @include text-emphasis-variant(".tdfm-text-#{$color}", $value);
//}

.tdfm-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;

  > .tdfm-form-control,
  > .tdfm-custom-select,
  > .tdfm-custom-file {
    position: relative; // For focus state's z-index
    flex: 1 1 auto;
    // Add width 1% and flex-basis auto to ensure that button will not wrap out
    // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
    width: 1%;
    margin-bottom: 0;

    + .tdfm-form-control,
    + .tdfm-custom-select,
    + .tdfm-custom-file {
      margin-left: -$input-border-width;
    }
  }

  // Bring the "active" form control to the top of surrounding elements
  > .tdfm-form-control:focus,
  > .tdfm-custom-select:focus,
  > .tdfm-custom-file .tdfm-custom-file-input:focus ~ .tdfm-custom-file-label {
    z-index: 3;
  }

  // Bring the custom file input above the label
  > .tdfm-custom-file .tdfm-custom-file-input:focus {
    z-index: 4;
  }

  > .tdfm-form-control,
  > .tdfm-custom-select {
    &:not(:last-child) {
      @include border-right-radius(0);
    }

    &:not(:first-child) {
      @include border-left-radius(0);
    }
  }

  // Custom file inputs have more complex markup, thus requiring different
  // border-radius overrides.
  > .tdfm-custom-file {
    display: flex;
    align-items: center;

    &:not(:last-child) .tdfm-custom-file-label,
    &:not(:last-child) .tdfm-custom-file-label::after {
      @include border-right-radius(0);
    }

    &:not(:first-child) .tdfm-custom-file-label {
      @include border-left-radius(0);
    }
  }
}


// Prepend and append
//
// While it requires one extra layer of HTML for each, dedicated prepend and
// append elements allow us to 1) be less clever, 2) simplify our selectors, and
// 3) support HTML5 form validation.

.tdfm-input-group-prepend,
.tdfm-input-group-append {
  display: flex;

  // Ensure buttons are always above inputs for more visually pleasing borders.
  // This isn't needed for `.tdfm-input-group-text` since it shares the same border-color
  // as our inputs.
  .tdfm-btn {
    position: relative;
    z-index: 2;
  }

  .tdfm-btn + .tdfm-btn,
  .tdfm-btn + .tdfm-input-group-text,
  .tdfm-input-group-text + .tdfm-input-group-text,
  .tdfm-input-group-text + .tdfm-btn {
    margin-left: -$input-border-width;
  }
}

.tdfm-input-group-prepend {
  margin-right: -$input-border-width;
}

.tdfm-input-group-append {
  margin-left: -$input-border-width;
}


// Textual addons
//
// Serves as a catch-all element for any text or radio/checkbox input you wish
// to prepend or append to an input.

.tdfm-input-group-text {
  display: flex;
  align-items: center;
  padding: $input-padding-y $input-padding-x;
  margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
  font-size: $font-size-base; // Match inputs
  font-weight: $font-weight-normal;
  line-height: $input-line-height;
  color: $input-group-addon-color;
  text-align: center;
  white-space: nowrap;
  background-color: $input-group-addon-bg;
  border: $input-border-width solid $input-group-addon-border-color;
  @include border-radius($input-border-radius);

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}


// Sizing
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.

.tdfm-input-group-lg > .tdfm-form-control,
.tdfm-input-group-lg > .tdfm-input-group-prepend > .tdfm-input-group-text,
.tdfm-input-group-lg > .tdfm-input-group-append > .tdfm-input-group-text,
.tdfm-input-group-lg > .tdfm-input-group-prepend > .tdfm-btn,
.tdfm-input-group-lg > .tdfm-input-group-append > .tdfm-btn {
  height: $input-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
  @include border-radius($input-border-radius-lg);
}

.tdfm-input-group-sm > .tdfm-form-control,
.tdfm-input-group-sm > .tdfm-input-group-prepend > .tdfm-input-group-text,
.tdfm-input-group-sm > .tdfm-input-group-append > .tdfm-input-group-text,
.tdfm-input-group-sm > .tdfm-input-group-prepend > .tdfm-btn,
.tdfm-input-group-sm > .tdfm-input-group-append > .tdfm-btn {
  height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
  @include border-radius($input-border-radius-sm);
}


// Prepend and append rounded corners
//
// These rulesets must come after the sizing ones to properly override sm and lg
// border-radius values when extending. They're more specific than we'd like
// with the `.tdfm-input-group >` part, but without it, we cannot override the sizing.


.tdfm-input-group > .tdfm-input-group-prepend > .tdfm-btn,
.tdfm-input-group > .tdfm-input-group-prepend > .tdfm-input-group-text,
.tdfm-input-group > .tdfm-input-group-append:not(:last-child) > .tdfm-btn,
.tdfm-input-group > .tdfm-input-group-append:not(:last-child) > .tdfm-input-group-text,
.tdfm-input-group > .tdfm-input-group-append:last-child > .tdfm-btn:not(:last-child):not(.dropdown-toggle),
.tdfm-input-group > .tdfm-input-group-append:last-child > .tdfm-input-group-text:not(:last-child) {
  @include border-right-radius(0);
}

.tdfm-input-group > .tdfm-input-group-append > .tdfm-btn,
.tdfm-input-group > .tdfm-input-group-append > .tdfm-input-group-text,
.tdfm-input-group > .tdfm-input-group-prepend:not(:first-child) > .tdfm-btn,
.tdfm-input-group > .tdfm-input-group-prepend:not(:first-child) > .tdfm-input-group-text,
.tdfm-input-group > .tdfm-input-group-prepend:first-child > .tdfm-btn:not(:first-child),
.tdfm-input-group > .tdfm-input-group-prepend:first-child > .tdfm-input-group-text:not(:first-child) {
  @include border-left-radius(0);
}

// stylelint-disable selector-no-qualifying-type

//
// Textual form controls
//

.tdfm-form-control {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }

  //@include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  // @include form-control-focus();

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

select.tdfm-form-control {
  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }
}

// Make file inputs better match text inputs by forcing them to new lines.
.tdfm-form-control-file,
.tdfm-form-control-range {
  display: block;
  width: 100%;
}


//
// Labels
//

// For use with horizontal and inline forms, when you need the label (or legend)
// text to align with the form controls.
.tdfm-col-form-label {
  padding-top: calc(#{$input-padding-y} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
  margin-bottom: 0; // Override the `<label>/<legend>` default
  font-size: inherit; // Override the `<legend>` default
  line-height: $input-line-height;
}

.tdfm-col-form-label-lg {
  padding-top: calc(#{$input-padding-y-lg} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-lg} + #{$input-border-width});
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
}

.tdfm-col-form-label-sm {
  padding-top: calc(#{$input-padding-y-sm} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-sm} + #{$input-border-width});
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
}


// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)

.tdfm-form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
  line-height: $input-line-height;
  color: $input-plaintext-color;
  background-color: transparent;
  border: solid transparent;
  border-width: $input-border-width 0;

  &.tdfm-form-control-sm,
  &.tdfm-form-control-lg {
    padding-right: 0;
    padding-left: 0;
  }
}


// Form control sizing
//
// Build on `.tdfm-form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// Repeated in `_input_group.scss` to avoid Sass extend issues.

.tdfm-form-control-sm {
  height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
  @include border-radius($input-border-radius-sm);
}

.tdfm-form-control-lg {
  height: $input-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
  @include border-radius($input-border-radius-lg);
}

// stylelint-disable no-duplicate-selectors
select.tdfm-form-control {
  &[size],
  &[multiple] {
    height: auto;
  }
}

textarea.tdfm-form-control {
  height: auto;
}

// stylelint-enable no-duplicate-selectors

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.tdfm-form-group {
  margin-bottom: $form-group-margin-bottom;
}

.tdfm-form-text {
  display: block;
  margin-top: $form-text-margin-top;
}


// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.

.tdfm-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  > .tdfm-col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.tdfm-form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;
}

.tdfm-form-check-input {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;

  &:disabled ~ .tdfm-form-check-label {
    color: $text-muted;
  }
}

.tdfm-form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.tdfm-form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; // Override base .tdfm-form-check
  margin-right: $form-check-inline-margin-x;

  // Undo .tdfm-form-check-input defaults and add some `margin-right`.
  .tdfm-form-check-input {
    position: static;
    margin-top: 0;
    margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
  }
}


// Form validation

@each $state, $data in $form-validation-states {
  @include form-validation-state($state, map-get($data, color), map-get($data, icon));
}

// Inline forms
//
// Make forms appear inline(-block) by adding the `.tdfm-form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.tdfm-form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).

.tdfm-form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; // Prevent shorter elements from growing to same height as others (e.g., small buttons growing to normal sized button height)

  // Because we use flex, the initial sizing of checkboxes is collapsed and
  // doesn't occupy the full-width (which is what we want for xs grid tier),
  // so we force that here.
  .tdfm-form-check {
    width: 100%;
  }

  // Kick in the inline
  @include media-breakpoint-up(sm) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    // Inline-block all the things for "inline"
    .tdfm-form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }

    // Allow folks to *not* use `.tdfm-form-group`
    .tdfm-form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.tdfm-form-group`
      vertical-align: middle;
    }

    // Make static controls behave like regular ones
    .tdfm-form-control-plaintext {
      display: inline-block;
    }

    .input-group,
    .tdfm-custom-select {
      width: auto;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match.
    .tdfm-form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }
    .tdfm-form-check-input {
      position: relative;
      margin-top: 0;
      margin-right: $form-check-input-margin-x;
      margin-left: 0;
    }

    .tdfm-custom-control {
      align-items: center;
      justify-content: center;
    }
    .tdfm-custom-control-label {
      margin-bottom: 0;
    }
  }
}

//
// Basic Bootstrap table
//

.tdfm-table {
  width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .tdfm-table {
    background-color: $body-bg;
  }
}


//
// Condensed table w/ half padding
//

.tdfm-table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}


// Border versions
//
// Add or remove borders all around the table and between all the columns.

.tdfm-table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}

.tdfm-table-borderless {
  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.tdfm-table-striped {
  tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: $table-accent-bg;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.tdfm-table-hover {
  tbody tr {
    @include hover {
      background-color: $table-hover-bg;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.tdfm-table-striped` and prevent
// inheritance to nested tables.

@each $color, $value in $theme-colors {
  @include table-row-variant($color, theme-color-level($color, -9));
}

@include table-row-variant(active, $table-active-bg);


// Dark styles
//
// Same table markup, but inverted color scheme: dark background and light text.

// stylelint-disable-next-line no-duplicate-selectors
.tdfm-table {
  .thead-dark {
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;
    }
  }

  .thead-light {
    th {
      color: $table-head-color;
      background-color: $table-head-bg;
      border-color: $table-border-color;
    }
  }
}

.tdfm-table-dark {
  color: $table-dark-color;
  background-color: $table-dark-bg;

  th,
  td,
  thead th {
    border-color: $table-dark-border-color;
  }

  &.tdfm-table-bordered {
    border: 0;
  }

  &.tdfm-table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: $table-dark-accent-bg;
    }
  }

  &.tdfm-table-hover {
    tbody tr {
      @include hover {
        background-color: $table-dark-hover-bg;
      }
    }
  }
}


// Responsive tables
//
// Generate series of `.tdfm-table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.tdfm-table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

        // Prevent double border on horizontal scroll due to use of `display: block;`
        > .tdfm-table-bordered {
          border: 0;
        }
      }
    }
  }
}

.tdfm-text-justify {
  text-align: justify !important;
}

.tdfm-text-nowrap {
  white-space: nowrap !important;
}

.tdfm-text-truncate {
  @include text-truncate;
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .tdfm-text#{$infix}-left {
      text-align: left !important;
    }
    .tdfm-text#{$infix}-right {
      text-align: right !important;
    }
    .tdfm-text#{$infix}-center {
      text-align: center !important;
    }
  }
}

// Transformation

.tdfm-text-lowercase {
  text-transform: lowercase !important;
}

.tdfm-text-uppercase {
  text-transform: uppercase !important;
}

.tdfm-text-capitalize {
  text-transform: capitalize !important;
}


// Contextual colors

.tdfm-text-white {
  color: $white !important;
}

.tdfm-text-body {
  color: $body-color !important;
}

.tdfm-text-muted {
  color: $text-muted !important;
}

.tdfm-text-black-50 {
  color: rgba($black, .5) !important;
}

.tdfm-text-white-50 {
  color: rgba($white, .5) !important;
}

// Misc
//
//.tdfm-text-hide {
//  @include text-hide($ignore-warning: true);
//}

.tdfm-pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
}

.tdfm-page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -$pagination-border-width;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 2;
    outline: $pagination-focus-outline;
  }

  // Opinionated: add "hand" cursor to non-disabled .tdfm-page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.tdfm-page-item {
  &:first-child {
    .tdfm-page-link {
      margin-left: 0;
      @include border-left-radius($border-radius);
    }
  }

  &:last-child {
    .tdfm-page-link {
      @include border-right-radius($border-radius);
    }
  }

  &.active .tdfm-page-link {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .tdfm-page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .tdfm-page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}

@import "./button-group";

//
// Sizing
//

.tdfm-pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.tdfm-pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}

.td-img-preview {
  cursor: pointer;

  &.active {
    outline: 2px solid $primary;
  }
}

