<template>
  <div>
    <div class="tdfm-row tdfm-justify-content-between top-filters">
      <slot name="filters-before" />
      <template v-if="showLimit">
        <div class="tdfm-col-auto">
          <div class="tdfm-input-group">
            <div class="tdfm-input-group-prepend">
              <span class="tdfm-input-group-text tdfm-border-0 tdfm-bg-white tdfm-pl-0">{{$t('show')}}</span>
            </div>
            <input @keyup="triggerLimit" type="number" class="tdfm-form-control" v-model="limitPerPage"
                   :placeholder="15">
            <div class="tdfm-input-group-append">
              <span class="tdfm-input-group-text tdfm-border-0 tdfm-bg-white tdfm-pr-0">{{$t('entities')}}</span>
            </div>
          </div>
        </div>
      </template>
      <template v-if="dropdownLimit">
        <div class="tdfm-col-auto">
          <div class="tdfm-input-group">
            <div class="tdfm-input-group-prepend">
              <span class="tdfm-input-group-text tdfm-border-0 tdfm-bg-white tdfm-pl-0">{{$t('show')}}</span>
            </div>
            <select @change="triggerLimit" v-model="limitPerPage" class="tdfm-form-control">
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="60">60</option>
              <option value="90">90</option>
              <option value="150">150</option>
            </select>
          </div>
        </div>
      </template>
      <template v-if="search">
        <form @submit.prevent="makeSearch" @reset="_resetSearch" autocomplete="off"
              novalidate="novalidate"
              class="tdfm-col-auto">
          <div class="tdfm-input-group">
            <input type="search" class="tdfm-form-control" v-model="q" :placeholder="$t('search')">
            <div class="tdfm-input-group-append">
              <button type="submit" class="tdfm-btn tdfm-btn-primary tdfm-pl-0">{{ $t('search') }}</button>
            </div>
          </div>
        </form>
      </template>
      <slot name="filters-after" />
    </div>
    <div class="table-responsive">
      <table class="tdfm-table" :class="tableClasses">
        <thead>
        <tr>
          <th :width="column.width" v-for="column in columnsList" :key="column.name">
            <template v-if="column.sortable && !column.hidden">
              <div class="tdfm-row tdfm-justify-content-between tdfm-row-nowrap">
                <div class="tdfm-col-auto" v-html="column.title"></div>
                <div class="tdfm-col-auto" style="padding-left: 0">
                  <a href="#" @click.prevent="sortChange(column.name)">
                    <i class="fa" :class="getClass(column.name, column.type)"></i>
                  </a>
                </div>
              </div>
            </template>
            <template v-else>
              <span v-html="column.title"></span>
            </template>
          </th>
        </tr>
        </thead>
        <slot name="tbody"></slot>
      </table>
    </div>
    <template v-if="pagination">
      <div class="tdfm-row tdfm-bt-4 tdfm-justify-content-between">
        <div class="tdfm-col-auto tdfm-align-self-center">
          <small v-if="data.total">
            {{$t('total', {
            from: data.from,
            to: data.to,
            total: data.total,
            last_page: data.last_page
            })}}
          </small>
        </div>
        <div class="tdfm-col-auto">
          <sortable-columns-pagination :limit="5" :data="data"
                                       :show-disabled="true"
                                       @pagination-change-page="pageChange"></sortable-columns-pagination>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import i18n from './i18n'
import LaravelVuePagination from "laravel-vue-pagination";
import SortableColumnsPagination from "./SortableColumnsPagination";

export default {
  name: "SortableColumns",
  components: { SortableColumnsPagination, LaravelVuePagination },
  props: {

    columns: {
      type: Array,
      default: () => {
        return {
          total: 0
        }
      }
    },

    fontAwesomeVer: {
      type: Number,
      default: 5
    },
    search: {
      type: Boolean,
      default: false
    },
    pagination: {
      type: Boolean,
      default: false
    },
    requestOnInit: {
      type: Boolean,
      default: false
    },
    showLimit: {
      type: Boolean,
      default: false
    },
    dropdownLimit: {
      type: Boolean,
      default: false
    },
    tableClasses: {
      type: String,
      default: ''
    },

    lang: String,
    data: {
      type: Object,
      default: () => {
        return {
          total: 0
        }
      }
    }
  },
  i18n: i18n,
  data() {
    let dataObject = {
      q: null,
      limitPerPage: 15,
      direction: null,
      sort: null,
      page: 1
    }, search = this._getSearchParams();
    if (Object.keys(search).length > 0) {
      dataObject = Object.assign({}, dataObject, search);
    }
    return dataObject;
  },
  computed: {
    columnsList() {
      const defaultColumnConfig = {
        sortable: true,
        direction: null,
        type: 'alpha',
        hidden: false,
        width: 'auto',
        title: ''
      };
      let columnsList = [], name;
      for (let i = 0, iMax = this.columns.length; i < iMax; i++) {
        name = this.columns[i].name;
        columnsList.push(Object.assign({}, defaultColumnConfig, this.columns[i]));
      }
      return columnsList;
    }
  },
  created() {
    if (this.requestOnInit) {
      this.getData();
    }
    i18n.locale = this.lang;
    this.$watch('lang', (lang) => {
      i18n.locale = lang;
    })
  },
  methods: {
    pageChange(page) {
      this.page = page;
      this.getData();
    },
    _resetSearch() {
      this.page = 1;
      this.q = null;
      this.getData();
    },

    sortChange(key) {
      this.page = 1;
      this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
      this.sort = key;
      this.getData();
    },

    makeSearch() {

      this.page = 1;
      this.getData();
    },

    getClass(key, type) {
      if (key === this.sort) {
        let faClass = 'fa-sort';
        if (type !== null) {
          faClass += '-' + type;
        }
        return faClass += '-' + (this.direction === 'desc' ?
            (this.fontAwesomeVer === 5 ? 'up' : 'desc') :
            (this.fontAwesomeVer === 5 ? 'down' : 'asc')
        )
      }
      return 'fa-sort'
    },
    triggerLimit() {
      this.page = 1;
      this.getData();
    },
    getData() {
      let params = { page: this.page };
      if (this.sort !== null) {
        params['sort'] = this.sort;
        params['direction'] = this.direction;
      }
      if (this.q !== null && this.q.length > 0) {
        params['q'] = this.q
      }
      if (this.limitPerPage !== null && this.limitPerPage.length > 0) {
        params['limit'] = this.limitPerPage
      }
      this.$emit('params-changed', { query_string: this._serialize(params), data: params });
    },
    _serialize(params) {
      let str = [];
      for (let p in params)
        if (params.hasOwnProperty(p)) {
          str.push(encodeURIComponent(p) + "=" + encodeURIComponent(params[p]));
        }
      return str.join("&");
    },
    _getSearchParams() {
      if (typeof this.$route !== 'undefined') {
        return this.$route.query;
      }
      let search = window.location.search;
      let args = search.substring(1).split('&'), argsParsed = {}, i, arg, kvp, key, value, argsLength;
      for (i = 0, argsLength = args.length; i < argsLength; i++) {
        arg = args[i];
        if (-1 === arg.indexOf('=')) {
          argsParsed[decodeURIComponent(arg).trim()] = true;
        } else {
          kvp = arg.split('=');
          key = decodeURIComponent(kvp[0]).trim();
          value = decodeURIComponent(kvp[1]).trim();
          argsParsed[key] = value;
        }
      }
      return argsParsed;
    },
  }
}
</script>
<style scoped lang="scss">
@import "./assets/style";

.table {
  thead {
    > tr {
      > th {
        border-right: 1px solid #dee2e6;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  border: 1px solid #dee2e6;
  border-top-color: transparent;
}

.post-actions {
  opacity: 0;
  margin-top: 10px;

  a {
    font-size: 0.9em;
  }
}

tbody {
  tr:hover {
    .post-actions {
      opacity: 1;
    }
  }
}

[type="number"] {
  width: 72px;
}

[type="search"] {
  max-width: 260px;
}

.top-filters {
  margin-bottom: 20px;
}
</style>
