<template>
  <renderless-laravel-vue-pagination :data="data" :limit="limit" :show-disabled="showDisabled"
                                     v-on:pagination-change-page="onPaginationChangePage">
    <ul class="tdfm-pagination" v-if="computed.total > computed.perPage"
        slot-scope="{ data, limit, computed, prevButtonEvents, nextButtonEvents, pageButtonEvents }">
      <li class="tdfm-page-item tdfm-pagination-prev-nav" :class="{'disabled': !computed.prevPageUrl}"
          v-if="computed.prevPageUrl || showDisabled">
        <a class="tdfm-page-link" href="#" aria-label="Previous" :tabindex="!computed.prevPageUrl && -1"
           v-on="prevButtonEvents">
          <slot name="prev-nav">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </slot>
        </a>
      </li>
      <li class="tdfm-page-item tdfm-pagination-page-nav" v-for="(page, key) in computed.pageRange" :key="key"
          :class="{ 'active': page == computed.currentPage }">
        <a class="tdfm-page-link" href="#" v-on="pageButtonEvents(page)">{{ page }}</a>
      </li>
      <li class="tdfm-page-item pagination-next-nav" :class="{'disabled': !computed.nextPageUrl}"
          v-if="computed.nextPageUrl || showDisabled">
        <a class="tdfm-page-link" href="#" aria-label="Next" :tabindex="!computed.nextPageUrl && -1"
           v-on="nextButtonEvents">
          <slot name="next-nav">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </slot>
        </a>
      </li>
    </ul>
  </renderless-laravel-vue-pagination>
</template>

<script>
  import RenderlessLaravelVuePagination from "laravel-vue-pagination/src/RenderlessLaravelVuePagination";

  export default {
    components: {RenderlessLaravelVuePagination},
    props: {
      data: {
        type: Object,
        default: () => {
        }
      },
      limit: {
        type: Number,
        default: 0
      },
      showDisabled: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      onPaginationChangePage(page) {
        this.$emit('pagination-change-page', page);
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "./assets/style";
</style>
